header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header__content {
        max-width: 1392px;
        padding: 0 16px;
        margin: 25px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__nav, &__location {
            a, .location {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
            }
        }

        &__nav {
            a {
                margin: 0 24px 0 0;

                &:last-child {
                    margin: 0;
                }
            }
        }

        &__location {
            display: flex;
            align-items: center;

            .location, a {
                border-radius: 10px;
                padding: 10px;
                color: #ffffff;
            }

            .location {
                margin: 0 14px 0 0;
                width: fit-content;
                background: linear-gradient(180deg, #1FE5E0 0%, #00AEA5 100%);
            }

            a {
                display: block;
                background: linear-gradient(180deg, #FF7121 39.58%, #F35700 100%);
            }
        }

    }
}